<ion-header>
  <ion-toolbar>

    <!-- 4.1) <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->

    <!-- 4.2) Botão para voltar para a raiz -->
    <ion-button slot="start" routerLink="/" fill="clear">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-title>Cadastro de Perfil</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <!-- 5.1) Inclui seletor do componente do formulário de perfil -->
    <app-profile></app-profile>

  </div>

</ion-content>