<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sobre o Senac</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
<h2>Senac</h2>
    <p>O Senac é referência em ensino profissional. Uma instituição que há mais de 70 anos ajuda a transformar a vida das pessoas e apresenta grande variedade de cursos, desenvolvidos de acordo com as exigências do mercado.</p>
    <p>Presente em 38 unidades de ensino, a instituição atua em diversas áreas, oferecendo cursos de capacitação, técnicos, de graduação, de pós-graduação, especialização e programas de educação a distância. Aqui, você aprende uma profissão na prática, aumentando suas chances de conseguir seu primeiro emprego ou de se recolocar no mercado de trabalho. Venha conhecer o Senac RJ e entender como você também pode transformar sua vida.</p>
    <h2>Missão</h2>
    <p>Educar para o trabalho em atividades do comércio de bens, serviços e turismo.</p>
    <h2>Visão</h2>
    <p>Ser a instituição brasileira que oferece as melhores soluções em educação profissional, reconhecida pelas empresas.</p>
    <h2>Valores</h2>
    <p>Colaboração, transparência, atitude de dono e responsabilidade social.</p>
    <h2>História do Senac</h2>
    <p>Em 1946 é registrado um marco na história do Brasil: nasce a primeira constituição brasileira liberal democrática, que estabelece leis muito importantes como as eleições diretas e secretas, igualdade de todos perante a lei e liberdade de manifestação de pensamento. No entanto, mesmo com o futuro promissor, o país ainda estava pobre, atrasado e com fortes conflitos sociais. Foi quando empresários inteligentes se empenharam em criar serviços e produtos inovadores, visando encontrar soluções para problemas sociais e econômicos.</p>
    <p>É nesse contexto que nasce o Senac, uma instituição que integra o Senac – Serviço Nacional de Aprendizagem Comercial. Desde 10 de janeiro de 1946 o Senac tem comprovado sua preocupação em inovar, oferecendo um trabalho inédito: promover a capacitação profissional de menores aprendizes e de empregados adultos que atuavam no comércio.</p>
    <p>No decorrer dos anos, o Senac ampliou criativamente sua oferta de cursos, em especial os cursos técnicos. Passou a atender às pessoas em busca do primeiro emprego e profissionais que desejam entrar no mercado de trabalho, ascender profissionalmente ou se especializar em determinada atividade.</p>
    <p>Sempre com foco em profissionalizar pessoas e transformar vidas, o Senac elaborou novos produtos e serviços educacionais para pessoas físicas, empresas e outras instituições. Foram desenvolvidas novas ações como realização de seminários, oficinas, mostras, desfiles, concursos, certificações, oferta de educação a distância, publicação de livros e vídeos.</p>
    <p></p>
  </div>

</ion-content>