<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Fale Conosco</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h2>Atendimento</h2>
    <p>Para informações sobre cursos, entre em contato com a Central de Atendimento pelos telefones:</p>
    <p>4090-1040 - para capitais e regiões metropolitanas | 0800-777-3622 - para as demais regiões do Brasil O atendimento telefônico é de segunda a sexta-feira, das 8 às 20 horas.</p>
    <p>Para melhor atendê-lo disponibilizamos um canal exclusivo para tratamento de reclamações, elogios e sugestões. Envie e-mail para faleconosco@rj.senac.br</p>
  </div>

</ion-content>