<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Apagar Conta</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h2 class="ion-text-center">
      <ion-text color="danger">Atenção!</ion-text>
    </h2>

    <p><strong>Tem certeza que deseja apagar sua conta?</strong></p>
    <p>Lembre-se que essa ação é irreversível e você terá que criar uma nova conta para ter acesso aos recursos do
      aplicativo!</p>
    <p><small>Por segurança, será solicitado que você faça login no provedor novamente.</small></p>
    &nbsp;

    <ion-button expand="block" color="success" routerLink="/user/profile">
      <ion-icon name="checkmark-circle"></ion-icon>&nbsp;
      Não, voltar para o perfil!
    </ion-button>

    &nbsp;

    <ion-button expand="block" color="danger" (click)="accountDelete()">
      <ion-icon name="close-circle"></ion-icon>&nbsp;
      Sim, apagar conta!
    </ion-button>

  </div>

</ion-content>