<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-list-header>Ulib</ion-list-header>
         

          <ion-menu-toggle auto-hide="false">

            <!-- Perfil do usuário logado -->

            <div *ngIf="userData">

              <hr>

              <ion-item routerDirection="root" routerLink="/user/profile" lines="none" detail="false">
                <ion-avatar slot="start"><img src="{{ userData.photoURL }}" alt="{{ userData.displayName }}">
                </ion-avatar>
                <ion-label>
                  <h3>{{ userData.displayName }}</h3>
                  <small>{{ userData.email }}</small>
                </ion-label>
              </ion-item>

              <hr>

            </div>

            <hr>

            <ion-item routerDirection="root" routerLink="/" lines="none" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Início</ion-label>
            </ion-item>

            <hr>

            <!-- 3.1) Páginas restritas -->
            <!-- 10.1) Sistema de mensagens somente logado e com perfil -->
            <div *ngIf="userData && userProfile">

              <!-- 17.1) Simplificando o acesso às mensagens -->
              <ion-item routerDirection="root" routerLink="/msg/inbox" lines="none" detail="false">
                <ion-icon slot="start" name="mail-unread"></ion-icon>
                <ion-label>Mensagens</ion-label>

                <!-- 18.1) Exibe total de mensagens não lidas -->
                <ion-badge *ngIf="totalItems">{{ totalItems }}</ion-badge>
              </ion-item>

              <!-- 17.2) Simplificando o acesso às mensagens (comentar) -->
              <!-- <ion-item routerDirection="root" routerLink="/msg/outbox" lines="none" detail="false">
                <ion-icon slot="start" name="mail"></ion-icon>
                <ion-label>Caixa de saída</ion-label>
              </ion-item> -->

              <hr>

            </div>

            <!-- 3.2) Gestão de usuário -->

            <!-- Login só aparece se não está logado -->
            <ion-item *ngIf="!userData" routerDirection="root" routerLink="/user/login" lines="none" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label> Entrar</ion-label>
            </ion-item>

            <!-- Profile só aparece se está logado -->
            <ion-item *ngIf="userData" routerDirection="root" routerLink="/user/profile" lines="none" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>Seu perfil</ion-label>
            </ion-item>

            <!-- Logout só aparece se está logado -->
            <ion-item *ngIf="userData" routerDirection="root" routerLink="/user/logout" lines="none" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>

            <hr>

            <!-- 3.3) Páginas sem restrição -->

            <ion-item routerDirection="root" routerLink="/contacts" lines="none" detail="false">
              <ion-icon slot="start" name="chatbubbles"></ion-icon>
              <ion-label>Fale Conosco</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/info" lines="none" detail="false">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>Sobre o Senac</ion-label>
            </ion-item>

            <hr>

          </ion-menu-toggle>

        </ion-list>

      </ion-content>

      <div class="copyright">&copy; Ulib© 2020</div>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>