#profileList div {
    padding    : 1rem;
    font-weight: bold;
    background : rgb(87, 87, 23);
}

#profileList hr {
    border       : none;
    padding      : .5rem;
    margin       : 0;
    background   : inherit;
}